<div class="title title-thin">
  <div class="container">
    <h4>My products</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 card">
      <div class="filters">
        <button>Name <fa name="sort-down"></fa></button>
        <!-- <button>Status <fa name="sort-down"></fa></button> -->
      </div>
      <div *ngFor="let p of products" class="item-wrapper">
        <a [routerLink]="p._id" class=" item">
          <div class="img">
            <img [src]="mainImageUrl(p)">
          </div>
          <h5>{{ p.title }}</h5>
          <!-- <span>Active</span> -->
          <div class="actions">
            <button>
              <fa name="pencil"></fa>
            </button>
          </div>
        </a>
        
      </div>
    </div>
  </div>
</div>