//colors

$primary: #2e32ac;
$primary-middle: #3f51b5;
$primary-middle-darker: #2e3b97;
$primary-dark: #0b0d2e;
$secondary: #ffc100;
$secondary-lighten: #FFD20C;
$secondary-middle: #E6B100;
$secondary-dark: #CC9700;
$neutral-gray-light: #f5f5f5;
$neutral-gray-light-middle: #c5c5c5;
$danger: #e44949;
$success: #5cb85c;


// fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-logo: 'Raleway', sans-serif;;


// mixin

@mixin gradient{
    background: rgba(44,48,173,1);
    background: -moz-linear-gradient(-45deg, rgba(44,48,173,1) 0%, rgba(49,35,134,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(44,48,173,1)), color-stop(100%, rgba(49,35,134,1)));
    background: -webkit-linear-gradient(-45deg, rgba(44,48,173,1) 0%, rgba(49,35,134,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(44,48,173,1) 0%, rgba(49,35,134,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(44,48,173,1) 0%, rgba(49,35,134,1) 100%);
    background: linear-gradient(135deg, rgba(44,48,173,1) 0%, rgba(49,35,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c30ad', endColorstr='#312386', GradientType=1 );
}