<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search-wrapper">
          <ul class="categories-wrapper">
            <li class="active"><span>Electronics</span></li>
            <li><span>Tools</span></li>
            <li><span>Equipments</span></li>
            <li><span>Sports</span></li>
            <li><span>Furniture</span></li>
            <li><span>Automobiles</span></li>
            <li><span>Apartments</span></li>
          </ul>
          <div>
            <input type="search" name="search" placeholder="Search...">
            <button>
              <fa name="search"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>