<section>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 hero">
        <p class="text-center hero-text">There are over <strong>{{length}}</strong> products you can choose from.</p>
        <p class="hero-text-secondary text-center">Rent products you need or add your own products for rent.</p>
      </div>
      <div class="col-12">
        <div class="search-wrapper">
          <ul class="categories-wrapper">
            <li [ngClass]="selectedCategory == 'Electronics' ? 'active' : ''"><span (click)="selectCategory('Electronics')">Electronics</span></li>
            <li [ngClass]="selectedCategory == 'Tools' ? 'active' : ''"><span (click)="selectCategory('Tools')">Tools</span></li>
            <li [ngClass]="selectedCategory == 'Equipments' ? 'active' : ''"><span (click)="selectCategory('Equipments')">Equipments</span></li>
            <li [ngClass]="selectedCategory == 'Sports' ? 'active' : ''"><span (click)="selectCategory('Sports')">Sports</span></li>
            <li [ngClass]="selectedCategory == 'Furniture' ? 'active' : ''"><span (click)="selectCategory('Furniture')">Furniture</span></li>
            <li [ngClass]="selectedCategory == 'Automobiles' ? 'active' : ''"><span (click)="selectCategory('Automobiles')">Automobiles</span></li>
            <li [ngClass]="selectedCategory == 'Aparments' ? 'active' : ''"><span (click)="selectCategory('Aparments')">Apartments</span></li>
          </ul>
          <form (ngSubmit)="search()">
            <input type="search" name="search" placeholder="Search..." [(ngModel)]="selectedText" (ngModelChange)="doSomething($event)">
            <button type="button" class="clear-button" [ngClass]="selectedText ? 'active' : ''" (click)="clear()"><fa name="times"></fa></button>
            <button type="submit" class="search-button">
              <fa name="search"></fa>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>