
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" opened="false">
    <a routerLink="./" class="dashboard-link"></a>
    <!-- <button class="sidenav-toggle" (click)="sidenav.toggle()">Toggle</button> -->
    <fa name="bars" class="sidenav-toggle" (click)="sidenav.toggle()"></fa>
    <div class="links-wrapper d-flex flex-column">
      <a routerLink="my-rentals">
        <fa name="cube"></fa>Rentals</a>
      
      <span class="separator"></span>
      <a routerLink="my-products"><fa name="archive"></fa>Products</a>
      <a routerLink="my-orders"><fa name="cubes"></fa>Orders</a>
      <span class="separator"></span>
      <a routerLink="my-messages">
        <fa name="envelope"></fa>Messages</a>
      <a routerLink="/my-profile"><fa name="user"></fa>Profile</a>
    </div>
    
  </mat-sidenav>

  <mat-sidenav-content>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>