<nav>
  <div class="container">
    <a routerLink="" class="logo-link">
      <img src="assets/img/logo4.png">
      Rent<span>IT</span>
    </a>

    <div class="btn-group menu" dropdown *ngIf="user">
      <button routerLink="dashboard/new-product" class="add-item-button">
        <fa name="plus"></fa>Add product
      </button>
      <div>
        <button dropdownToggle type="button" class="user dropdown-toggle">
          <img src="assets/img/user.png"> Hi,
          <span>{{ (user$ | async).firstName}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="dashboard/my-rentals">Rentals</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="dashboard/my-products">Products</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="dashboard/my-orders">Orders</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="dashboard/my-messages">Messages</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="my-profile">Profile settings</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="" (click)="logout()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <button *ngIf="!user" (click)="showLoginModal()">
      Login
    </button>
  </div>
</nav>
