<div class="title title-thin">
  <div class="container">
    <h4>Message</h4>
  </div>
</div>
<div class="container mt-15">
  <div class="row d-flex align-items-start">
    <div class="col-12 card d-flex flex-column p-0">
      <div class="d-flex justify-content-between align-items-start w-100 message-header">
        <div>
          <h5 class="message-title mb-7">{{ (message)?.title }}</h5>
          <div class="d-flex align-items-center">
            <small class="mr-7 date">From:</small>
            <!-- <a [routerLink]="'../../profile/'+ (message)?._senderId" class="avatar d-flex align-items-center justify-content-center">
              <span>{{(message)?.senderFirstName.substring(0,1)}}{{(message)?.senderLastName.substring(0,1)}}</span>
            </a> -->
            
            <a [routerLink]="'../../../profile/'+ (message)?._senderId" class="user-name">
              <fa name="user"></fa><span>{{(message)?.senderFirstName}} {{(message)?.senderLastName}}</span>
            </a>
          </div>
        </div>

        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <small class="date mr-7">{{(message)?.dateDay}}/{{(message)?.dateMonth}}/{{(message)?.dateYear}}</small>
            <small class="date">{{(message)?.dateHour}}:{{(message)?.dateMinute}}</small>
          </div>
          
        </div>
      </div>
      <div class="d-flex flex-column w-100 message-content">
        <div class="d-flex">
          <pre class="mr-15"><p>{{(message)?.content}}</p></pre>
        </div>
        <div class="actions d-flex align-self-end">
          <button type="button" class="button button-empty mr-15" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
            placement="top" (confirm)="delete()" (cancel)="cancelClicked = true" (click)="confirmClicked = false; cancelClicked = false">
            <fa name="trash"></fa>
          </button>
          <button type="button" class="button button-empty"  (click)="showMessageModal()">
            <fa name="reply"></fa>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

