<div>
    <form (ngSubmit)="login()" [formGroup]="form" #formTest="ngForm" novalidate>
        <h5>Login</h5>
        <label [ngClass]="{'text-danger':(formTest.submitted && !form.controls['email'].valid), 'text-success':(formTest.submitted &&
            form.controls['email'].valid && !errors)}">Email</label>
        <input [ngClass]="{'has-error':(formTest.submitted && !form.controls['email'].valid), 'has-success':(formTest.submitted && form.controls['email'].valid && !errors)}" type="email" placeholder="Email" formControlName="email">
        <small *ngIf="formTest.submitted && form.controls['email'].hasError('required')"
            class="text-danger">Please fill in the email.</small>

        <label [ngClass]="{'text-danger':(formTest.submitted && !form.controls['password'].valid), 'text-success':(formTest.submitted && form.controls['password'].valid && !errors)}">Password</label>
        <input [ngClass]="{'has-error':(formTest.submitted && !form.controls['password'].valid), 'has-success':(formTest.submitted && form.controls['password'].valid && !errors)}" type="password" placeholder="Password" formControlName="password">
        <small *ngIf="formTest.submitted && form.controls['password'].hasError('required') && !form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('maxlength') && !form.controls['password'].hasError('pattern')"
            class="text-danger">Please fill in the password.</small>

        <div *ngIf="errors" class="alert alert-danger">
            {{ errors }}
        </div>
        <button type="submit" class="button-login">Login</button>
    </form>
    <button (click)="showRegisterModal()" class="button-register">Don't have an account? Register</button>
</div>
