<div class="title title-thin">
  <div class="container">
    <h4>Order #{{ (order)?.index }}</h4>
    <span class="order-status" [ngClass]="{'reserved':((order)?.status=='reserved'),'started':((order)?.status=='started'),'ended':((order)?.status=='ended'),'canceled':((order)?.status=='canceled')}">{{ (order)?.status }}</span>
  </div>
</div>
<div class="container mt-15">
  <div class="row d-flex align-items-start">
    <div class="col-10 order-wrapper d-flex flex-column">
      <div class="card mb-15">
        <div class="w-100 client-info-box text-light d-flex justify-content-between box-30">
          <div class="d-flex">
            <div class="d-flex align-items-start mr-15">
              <img src="../../assets/img/user-white.png" width="auto" height="26px">
            </div>
            <div class="d-flex flex-column align-items-start client-info">
              <h5>{{ (client)?.firstName + ' ' + (client)?.lastName}}</h5>
              <p>{{ (client)?.email }}</p>
              <p>{{ (client)?.telephone }}</p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column mr-30">
              <label>From</label>
              <span>
                <fa name="calendar" class="mr-7"></fa>
                <span *ngIf="(order)?.fromDateDay < 10">0</span>{{ (order)?.fromDateDay }}-<span *ngIf="(order)?.fromDateMonth < 10">0</span>{{ (order)?.fromDateMonth + '-' + (order)?.fromDateYear }}
              </span>
              <span>
                <fa name="clock-o" class="mr-7"></fa>
                <span *ngIf="(order)?.fromDateHour < 10">0</span>{{ (order)?.fromDateHour }}:<span *ngIf="(order)?.fromDateMinute < 10">0</span>{{ (order)?.fromDateMinute }}
              </span>
            </div>

            <div class="d-flex align-items-center">
              <fa class="text-white" name="angle-double-right"></fa>
            </div>

            <div class="d-flex flex-column ml-30">
              <label>To</label>
              <span>
                <fa name="calendar" class="mr-7"></fa>
                <span *ngIf="(order)?.toDateDay < 10">0</span>{{ (order)?.toDateDay }}-<span *ngIf="(order)?.toDateMonth < 10">0</span>{{ (order)?.toDateMonth + '-' + (order)?.toDateYear }}
              </span>
              <span>
                <fa name="clock-o" class="mr-7"></fa>
                <span *ngIf="(order)?.toDateHour < 10">0</span>{{ (order)?.toDateHour }}:<span *ngIf="(order)?.toDateMinute < 10">0</span>{{ (order)?.toDateMinute }}
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-wrap flex-column">
              <label>Address</label>
              <p>{{ (order)?.address }}</p>
              <p>{{ (order)?.city }}</p>
              <!-- <p>{{ (order)?.region }}</p> -->
            </div>
          </div>
        </div>
        <div class="w-100 d-flex labels justify-content-end">
          <label for="quantity" class="mb-0">Quantity</label>
          <label for="quantity" class="mb-0">Price each</label>
          <label for="quantity" class="mb-0">Total</label>
        </div>
        <div class="w-100 product box-15 d-flex align-items-center">
          <div class="product-img mr-15">
            <img [src]="mainImageUrl">
          </div>
          <span class="product-name">{{ (product)?.title }}</span>
          <span class="available mr-30" *ngIf="(order)?.status=='reserved'">{{ (product)?.quantity - maxim - quantity }} left</span>
          <!-- <span class="available mr-30" *ngIf="(order)?.status!='reserved'">{{ maximum }} left</span> -->
          <div class="mr-30">
            <div class="quantity-wrapper" *ngIf="(order)?.status=='reserved'">
              <span (click)="quantityMinus()">-</span>
              <input type="number" min="1" max="100" [(ngModel)]="quantity">
              <span (click)="quantityPlus()">+</span>
            </div>
            <div *ngIf="(order)?.status!='reserved'" class="quantity-wrapper-disabled">
              <span>{{ (order)?.quantity }}</span>
            </div>
          </div>
          <div class="price-each d-flex align-items-center justify-content-between mr-30">
            <span class="count">{{ count }} {{ (product)?.pricePer}}<span *ngIf="count>1">s</span>
            </span>
            <span class="price-input">{{ count*(product)?.price }}€</span>
          </div>
          <div class="total d-flex align-items-center justify-content-end">
            <span>{{ count*(product)?.price*quantity }}€</span>
          </div>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end">
        <button *ngIf="(order)?.status=='reserved'" class="button button-cancel align-self-end mr-15" (click)="cancelOrder()"><fa name="trash"></fa>Cancel order</button>
        <button *ngIf="(order)?.status=='reserved'" class="button align-self-end" (click)="acceptOrder()"><fa name="play"></fa>Accept order</button>
        <button *ngIf="(order)?.status=='started'" class="button align-self-end mr-15" (click)="endOrder()"><fa name="square"></fa>Finish order</button>
        <!-- <button class="button align-self-end" (click)="revert()">Revert</button> -->
      </div>

    </div>
    <div class="col-2 submenu">
      <div class="card box-15">
        <p>Send Email</p>
        <p>New Contract</p>
      </div>
    </div>
  </div>
</div>