@import '~assets/scss/variables.scss';

section{
    padding: 30px 0;
}

.title{
    font-size: 1em;
    margin-bottom: 15px;
    margin-left: 15px;
}

.item > div::after{
	padding-top: 73.25%;
	display: block;
    content: '';
}

.swiper-slide{
    width: 30%;
}

.item{
    width: 100%;
    margin-bottom: 30px;
    .card{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        .card-wrapper{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            box-sizing: border-box;
            padding-bottom: 50px;
            a{
                
                display: block;
                height: 100%;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../../../assets/img/item1.jpg');
                transition: all 0.2s ease-in-out;
            }
            
                
        }
        &:hover{
            .card-wrapper > a{
                background-position-y: -30px;
            }
            .product-info-wrapper{
                top: 54%;
            }
        }
    }
}

.product-info-wrapper{
    position: absolute;
    top: 80.5%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    .product-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 15px;
        height: 50px;
        background-color: white;
        p{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
        }
        .product-name{
            color: #333;
            font-weight: 600;
            max-width: 80%;
        }

        .price{
            color: $orange;
            font-size: 24px;
            font-weight: 700;
            margin-right: 7px;
        }

        .price-per{
            color: #999;
        }
    }

    .product-details{
        background-color: #f5f5f5;
        box-sizing: border-box;
        padding: 15px;
        display: flex;

        button{
            background-color: $secondary;
            padding: 7px 15px;
            border-radius: 4px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
    }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-next{
    background-image: none;
}

.swiper-button-next{
margin-top: 0px;
position: absolute;
top: 50%;
right: -30px;
transform: translateY(-80%);
}
.swiper-button-prev{
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-80%);
  margin-top: 0px;
}

.container{
    > .row{
        > div{
            position: relative;
        }
    }
}