<section>
  <div class="container">
    <h5 class="title">{{title}}</h5>
    <div class="row">
      <div class="col-12">
        <div [ngClass]="'swiper-button-next'+id" class="swiper-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            width="30px" height="40px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
            <g>
              <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z" />
            </g>
          </svg>
        </div>

        <div [ngClass]="'swiper-container'+id" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="item">
                <div class="card">
                  <div class="card-wrapper">
                    <a [routerLink]="'/product/'+ product._id" [style.background-image]="getProductImageUrl(product)"></a>

                  </div>
                  <div class="product-info-wrapper">
                    <div class="product-info">
                      <p class="product-name">{{ product.title }}</p>
                      <p>
                        <span class="price">{{ product.price }}€</span>
                        <span class="price-per">/{{ product.pricePer }}</span>
                      </p>
                    </div>
                    <div class="product-details">
                      <button>View details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div [ngClass]="'swiper-button-prev'+id" class="swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            width="30px" height="40px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
            <g>
              <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z" />
            </g>
          </svg>
        </div>
      </div>
      
    </div>
  </div>
</section>