<div>
  <form (ngSubmit)="delete()" [formGroup]="form">
    <label>Delete account</label>
    <p class="text-center">
       All the data associated with this account will be erased and will not be retrievable.
    </p>
    <small class="text-center text-muted">
      Please enter the password of this account.
    </small>
    <input type="password" placeholder="Password" formControlName="password">
    <button type="submit" class="btn-danger button-login">Delete account</button>
  </form>
</div>