<section>
  <div class="container">
    <div class="row">
      <div class="col-2 profile-picture">
        <img src="assets/img/user-white.png" alt="">
      </div>
      <div class="col-10 profile-info">
        <div>
          <h4>{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</h4>
          <ul>
            <li>Email:
              <span>{{ (user$ | async)?.email }}</span>
            </li>
            <li *ngIf="(user$ | async) != null && (user$ | async).telephone != null">Telephone:
              <span>0{{ (user$ | async)?.telephone }}</span>
            </li>
          </ul>
        </div>
        <button routerLink="edit">Edit info</button>
      </div>
    </div>
  </div>
</section>
<main>
  <router-outlet>
  </router-outlet>
</main>
<app-footer></app-footer>