@import '~assets/scss/variables.scss';

.content{
    min-width: 800px;
}
label{
    margin-top: 15px;
}

textarea{
    min-height: 200px;
    resize: vertical;
}

.button{
    height: 40px;
    padding: 3px 30px;
    border-radius: 2px;
    background-color: $secondary;
    border: solid 1px $secondary;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    transition: all 100ms ease-in-out;
    &:hover{
        background-color: $secondary;
        border-color: $secondary;
    }
}

.button-empty{
    background-color: transparent;
}

textarea,
input{
    margin-top: 0;
}