@import '~assets/scss/variables.scss';

main{
    margin-top: 245px;
    position: relative;
}

section{
    position: absolute;
    left: 0;
    right: 0;
    top: -245px;
    padding: 30px 0;
}

.card{
    padding: 15px;
}

.description{
    padding-top: 15px;
    margin-top: 15px;
    border-top: solid 1px #eee;
    h5{
        font-size: 16px;
        font-weight: 700;
    }
    p{
        margin: 0;
        color: #3f4c52;
    }
}

.product-gallery{
    >img{
        width: 100%;
        height: auto;
    }
}

.subtitle{
    font-size: 12px;
    color: #9d9d9d;
}

.product-info{
    .product-info-wrapper{
        display: flex;
        flex-direction: column;
        .title{
            margin-bottom: 15px;
        }
        >p, .product-info-group > p{
            color: #aaa;
            margin: 0;
            display: flex;
            align-items: center;
            span{
                color: #333;
                &.available{
                    color: white;
                    font-size: 0.8em;
                    background-color: $primary;
                    border-radius: 50px;
                    display: inline-block;
                    padding: 3px 10px;
                }
            }
        }

        .product-info-group{
            display: flex;
            justify-content: space-between;
            
        }

        .price{
            color: $orange !important;
            font-size: 24px;
            font-weight: 700;
            margin-right: 7px;
        }

        .price-per{
            color: #999;
        }
        .period-wrapper{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            fa{
                padding: 0 15px;
                font-size: 1.2em;
                color: $primary;
                max-height: 40px;
                display: flex;
                align-items: center;
                padding-top: 23px;
            }
            ngb-timepicker{
                margin-left: 5px;
            }
        }

        .rent-wrapper{
            margin-top: 15px;
            box-sizing: border-box;
            padding: 15px;
            margin-bottom: 15px;
        }

        .rent-wrapper__segment{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 7px;
            .form-control[type="number"]{
                max-width: 70px;
                text-align: center;
            }
        }
    }
}

.field-name{
    font-size: .8em;
    margin-bottom: 5px;
    color: #aaa;
    display: flex;
    &.total{
        box-sizing: border-box;
        padding-right: 15px;
        justify-content: flex-end;
    }
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: $primary;
    color: white;
}
.custom-day.faded {
    background-color: rgba($color: $primary, $alpha: 0.7);
}

ngb-datepicker{
    margin-bottom: 15px;
    width: 100%;
}

.quantity-wrapper{
    display: flex;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        min-height: 100%;
        background-color: #f8f8f8;
        border: solid 1px #ddd;
        transition: all 100ms ease-in-out;
        user-select: none;
        &:hover{
            background-color: $secondary;
            border-color: $secondary-middle;
        }
        &:first-child{
            border-right: 0;
        }
        &:last-child{
            border-left: 0;
        }
    }
    input{
        margin: 0;
        border-radius: 0;
        border-color: #ddd;
    }
    input[type='number']{
        align-self: flex-start;
        text-align: center;
    }
}

.button{
    height: 40px;
    padding: 3px 15px;
    border-radius: 2px;
    background-color: $secondary;
    border: solid 1px $secondary-middle;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    transition: all 100ms ease-in-out;
    &:hover{
        background-color: $secondary;
        border-color: $secondary-dark;
    }
}