<main>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 card">
        <div class="row">
          <div class="col-6 product-gallery">
            <img src="assets/img/item1.jpg">
          </div>
          <div class="col-6 product-info">
            <div class="product-info-wrapper">
              <h4 class="title">{{ (product)?.title }}</h4>
              <p>Rentor: &nbsp;<span>{{ (user)?.lastName }}</span></p>
              <p>Location: &nbsp;<span>Bucharest</span></p>
              <div class="product-info-group">
                <p>Available: &nbsp;
                  <span class="available">{{ (product)?.available }} available</span>
                </p>
                <p>Price: &nbsp;
                  <span class="price">{{ (product)?.price }}€</span>
                  <span class="price-per">/{{ (product)?.pricePer }}</span>
                </p>
              </div>
              <div class="rent-wrapper card">
                <span class="field-name">Period</span>
                <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t" [markDisabled]="isDisabled">
                </ngb-datepicker>
                
                <ng-template #t let-date="date" let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
                <div class="period-wrapper">
                  <div>
                    <span class="field-name">From</span>
                    <div class="d-flex align-items-center">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="start-date" [(ngModel)]="fromDate" ngbDatepicker [markDisabled]="isDisabled"
                        #d="ngbDatepicker">
                      <ngb-timepicker [(ngModel)]="fromTime" [seconds]="false" [hourStep]="hourStep" [minuteStep]="minuteStep" [spinners]="false"></ngb-timepicker>
                    </div>
                  </div>
                  
                  <fa name="angle-double-right"></fa>
                  <div>
                    <span class="field-name">To</span>
                    <div class="d-flex align-items-center">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="end-date" [(ngModel)]="toDate" ngbDatepicker [markDisabled]="isDisabled"
                        #d="ngbDatepicker">
                      <ngb-timepicker [(ngModel)]="toTime" [seconds]="false" [hourStep]="hourStep" [minuteStep]="minuteStep" [spinners]="false"></ngb-timepicker>
                    </div>
                  </div>
                </div>
                <div class="rent-wrapper__segment">
                  <div class="d-flex">
                    <div class="align-self-start mr-15">
                      <span class="field-name">Todal {{ (product)?.pricePer}}s</span>
                      <input class="form-control" type="number" [(ngModel)]="count" disabled>
                    </div>
                    <div>
                      <span class="field-name">Quantity</span>
                      <div class="quantity-wrapper">
                        <span (click)="quantityMinus()">-</span>
                        <input type="number" value="1" min="1" max="100" [(ngModel)]="quantity">
                        <span (click)="quantityPlus()">+</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <span class="field-name total">Total</span>
                    <span *ngIf="count>=0" class="price">{{ (product)?.price*count*quantity }}€</span>
                  </div>
                </div>
                <button class="button" (click)="showRentModal()">Rent it!</button>
              </div>
              <!-- <button class="button">Rent it!</button> -->
            </div>
          </div>
          <div class="col-12 description">
            <h5>Description</h5>
            <p><span class="tab-space"></span> {{ (product)?.description }}</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>

</main>