@import '~assets/scss/variables.scss';

section{
    padding: 30px 0;
}

.card{
    padding: 15px;
}

.description{
    padding-top: 15px;
    margin-top: 15px;
    border-top: solid 1px #eee;
    h5{
        font-size: 16px;
        font-weight: 700;
    }
    p{
        margin: 0;
        color: #3f4c52;
    }
}

.product-gallery{
    >img{
        width: 100%;
        height: auto;
    }
}

.subtitle{
    font-size: 12px;
    color: #9d9d9d;
}

.product-info{
    .product-info-wrapper{
        >p, .product-info-group > p{
            color: #aaa;
            margin: 0;
            display: flex;
            align-items: center;
            span{
                color: #333;
                &.available{
                    color: white;
                    font-size: 0.8em;
                    background-color: $primary;
                    border-radius: 50px;
                    display: inline-block;
                    padding: 3px 10px;
                }
            }
        }

        .product-info-group{
            display: flex;
            justify-content: space-between;
            
        }

        .price{
            color: $orange !important;
            font-size: 24px;
            font-weight: 700;
            margin-right: 7px;
        }

        .price-per{
            color: #999;
        }
    }
}