<section>
  <div class="container">
    <div class="row">
      <div class="col-12 card">
        <div class="row">
          <div class="col-6 product-gallery">
            <img src="assets/img/item1.jpg">
          </div>
          <div class="col-6 product-info">
            <div class="product-info-wrapper">
              <h4 class="title">{{ (product)?.title }}</h4>
              <p>Rentor: &nbsp;<span>{{ (user)?.lastName }}</span></p>
              <p>Location: &nbsp;<span>Bucharest</span></p>
              <div class="product-info-group">
                <p>Available: &nbsp;
                  <span class="available">{{ (product)?.quantity }} available</span>
                </p>
                <p>Price: &nbsp;
                  <span class="price">{{ (product)?.price }}€</span>
                  <span class="price-per">/{{ (product)?.pricePer }}</span>
                </p>
              </div>
              <div class="rent-wrapper">
                <p>ngModel property sets two-way data binding in this example</p>
                <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
              </div>
            </div>
          </div>
          <div class="col-12 description">
            <h5>Description</h5>
            <p><span class="tab-space"></span> {{ (product)?.description }}</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>