@import '~assets/scss/variables.scss';

.modal-content{
    max-width: 300px;
}
.register-model{
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        width: 100%;
        display: flex;
        flex-direction: column;

        input{
            margin-bottom: 15px;
        }

        h5{
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
        }

        .button-register{
            width: 100%;
            margin-top: 15px;
            padding: 7px 0;
            color: white;
            background-color: $primary-middle;
            border-radius: 2px;
            transition: all 150ms ease;
            &:hover{
                background-color: $primary-middle-darker;
            }
        }

        > div{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            &.alert{
                padding: 7px 15px;
                border-radius: 2px;
            }
            >div{
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                &:first-child{
                    margin-right: 30px;
                }
            }
            
        }

    }
}
