@import '~assets/scss/variables.scss';

:host {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #ddd;
  margin: 2px;
  position: relative;
}

.btn {
  padding: 0 6px;
  position: absolute;
  top: 5px;
  right: 5px;
}