<section>
  <div class="container">
    <div class="row">
      <div class="col-12 card personal-info">
        <h5>Edit personal info</h5>
        <form (ngSubmit)="save()" [formGroup]="formPersonalInfo" #formTest="ngForm" novalidate class="row">
          <div class="col-8 offset-2">
            <div>
              <label [ngClass]="{'text-danger':(formTest.submitted && !formPersonalInfo.controls['firstName'].valid), 'text-success':(formTest.submitted && formPersonalInfo.controls['firstName'].valid)}">First name</label>
              <input [ngClass]="{'has-error':(formTest.submitted && !formPersonalInfo.controls['firstName'].valid), 'has-success':(formTest.submitted && formPersonalInfo.controls['firstName'].valid)}"
                type="firstName" placeholder="Please enter first name" formControlName="firstName">
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['firstName'].hasError('required')" class="text-danger">This field is mandatory.</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['firstName'].hasError('required') && formPersonalInfo.controls['firstName'].hasError('minlength')"
                class="text-danger">Your first name must contain at least 2 characters</small>
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['firstName'].hasError('maxlength')" class="text-danger">You first name must contain at maximum 20 characters</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['firstName'].hasError('required') && !formPersonalInfo.controls['firstName'].hasError('minlength') && !formPersonalInfo.controls['firstName'].hasError('maxlength') && formPersonalInfo.controls['firstName'].hasError('pattern')"
                class="text-danger">Your first name must contain only letters</small>
            </div>
            <div>
              <label [ngClass]="{'text-danger':(formTest.submitted && !formPersonalInfo.controls['lastName'].valid), 'text-success':(formTest.submitted &&
                      formPersonalInfo.controls['lastName'].valid)}">Last name</label>
              <input [ngClass]="{'has-error':(formTest.submitted && !formPersonalInfo.controls['lastName'].valid), 'has-success':(formTest.submitted && formPersonalInfo.controls['lastName'].valid)}"
                type="lastName" placeholder="Please enter last name" formControlName="lastName">
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['lastName'].hasError('required')" class="text-danger">This field is mandatory.</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['lastName'].hasError('required') && formPersonalInfo.controls['lastName'].hasError('minlength')"
                class="text-danger">Your last name must contain at least 2 characters</small>
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['lastName'].hasError('maxlength')" class="text-danger">You last name must contain at maximum 20 characters</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['lastName'].hasError('required') && !formPersonalInfo.controls['lastName'].hasError('minlength') && !formPersonalInfo.controls['lastName'].hasError('maxlength') && formPersonalInfo.controls['lastName'].hasError('pattern')"
                class="text-danger">Your last name must contain only letters</small>
            </div>
          </div>
          <div class="col-8 offset-2">
            <div>
              <label [ngClass]="{'text-danger':(formTest.submitted && !formPersonalInfo.controls['email'].valid), 'text-success':(formTest.submitted &&
                  formPersonalInfo.controls['email'].valid)}">Email</label>
              <input [ngClass]="{'has-error':(formTest.submitted && !formPersonalInfo.controls['email'].valid), 'has-success':(formTest.submitted && formPersonalInfo.controls['email'].valid)}"
                type="email" placeholder="Please enter email" formControlName="email">
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['email'].hasError('required')" class="text-danger">This field is mandatory.</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['email'].hasError('required') && formPersonalInfo.controls['email'].hasError('minlength')"
                class="text-danger">Your email must contain at least 3 characters</small>
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['email'].hasError('maxlength')" class="text-danger">You email must contain at maximum 20 characters</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['email'].hasError('required') && !formPersonalInfo.controls['email'].hasError('minlength') && !formPersonalInfo.controls['email'].hasError('maxlength') && formPersonalInfo.controls['email'].hasError('email')"
                class="text-danger">Your email is invalid</small>
            </div>
            <div>
              <label [ngClass]="{'text-danger':(formTest.submitted && !formPersonalInfo.controls['telephone'].valid), 'text-success':(formTest.submitted
              && formPersonalInfo.controls['telephone'].valid)}">Telephone</label>
              <input [ngClass]="{'has-error':(formTest.submitted && !formPersonalInfo.controls['telephone'].valid), 'has-success':(formTest.submitted
              && formPersonalInfo.controls['telephone'].valid)}" type="telephone" placeholder="Telephone number" formControlName="telephone">
              <small *ngIf="formTest.submitted && formPersonalInfo.controls['telephone'].hasError('required')" class="text-danger">This field is mandatory.</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['telephone'].hasError('required') && (formPersonalInfo.controls['telephon'].hasError('maxlength') || formPersonalInfo.controls['telephon'].hasError('minlength'))" class="text-danger">You telephone number must contain exactly 10 characters</small>
              <small *ngIf="formTest.submitted && !formPersonalInfo.controls['telephone'].hasError('required') && !formPersonalInfo.controls['telephone'].hasError('minlength')
              && !formPersonalInfo.controls['telephone'].hasError('maxlength') && formPersonalInfo.controls['telephone'].hasError('pattern')"
                class="text-danger">Your telephone number should contain only numbers</small>
            </div>
          </div>
          <div class="col-8 offset-2 buttons">
            <a (click)="back()">Close</a>
            <button type="submit">Save</button>
          </div>
        </form>
      </div>
      <div class="col-12 card delete">
        <!-- <h5>Delete account</h5> -->
        <button class="btn-danger text-white" (click)="showDeleteModal()">Delete account</button>
      </div>
    </div>
  </div>
</section>
