@import '~assets/scss/variables.scss';

.card{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

h5{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

form{
    >div{
        display: flex;
        margin-bottom: 15px;
        >div{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            &:first-child{
                margin-right: 15px;
            }
        }
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    >a, >button{
        width: 100%;
        text-align: center;
        color: $primary-dark;
        border-radius: 2px;
        transition: all 150ms ease-in-out;
        font-weight: 500;
    }
    >a{
        border: solid 1px $secondary-middle;
        cursor: pointer;
        padding: 7px 0;
        margin-right: 15px;
        &:hover{
            background-color: $secondary;
        }
    }
    >button{
        padding: 0;
        background-color: $secondary-lighten;
        border: solid 1px $secondary-middle;
        &:hover{
            background-color: $secondary;
        }
    }
}

.card.delete{
    align-items: center;
    button{
        padding: 7px 15px;
        border-radius: 2px;
        font-weight: 500;
        transition: all 150ms ease-in-out;
    }
}

label{
    color: $primary-middle;
    font-size: 0.75em;
    margin-bottom: 7px;
}