<div class="box-30 content d-flex flex-column">
  <h4 class="mb-30 align-self-center">
    {{ message }}
  </h4>
  <form (ngSubmit)="sendMessage()" id="ngForm" [formGroup]="form" #formTest="ngForm" novalidate class="d-flex flex-column">
    <label>Title:</label>
    <input [ngClass]="{'has-error':(formTest.submitted && !form.controls['title'].valid), 'has-success':(formTest.submitted && form.controls['title'].valid)}"
      type="text" placeholder="Title" formControlName="title">
    <small *ngIf="formTest.submitted && form.controls['title'].hasError('required')" class="text-danger">This field is mandatory</small>
    <small *ngIf="formTest.submitted && form.controls['title'].hasError('minlength')" class="text-danger">The title must contain at least 3 characters</small>
    <small *ngIf="formTest.submitted && form.controls['title'].hasError('maxlength')" class="text-danger">The title must contain maximum 50 characters</small>
  
    <label>Message:</label>
    <textarea placeholder="Message" formControlName="content" [ngClass]="{'has-error':(formTest.submitted && !form.controls['content'].valid), 'has-success':(formTest.submitted && form.controls['content'].valid)}"></textarea>
    <small *ngIf="formTest.submitted && form.controls['content'].hasError('required')" class="text-danger">This field is mandatory</small>
    <small *ngIf="formTest.submitted && form.controls['content'].hasError('maxlength')" class="text-danger">The message must contain maximum 10000 characters</small>
    <button type="submit" class="button mt-15 align-self-center" form="ngForm">
      <fa name="paper-plane" class="mr-7"></fa>Send message</button>
  </form>
</div>

