<section>
  <div class="container">
    <div class="row">
      <div class="col-2 profile-picture">
        <img src="assets/img/user-white.png" alt="">
      </div>
      <div class="col-10 profile-info">
        <div>
          <h4>{{ (user)?.firstName }} {{ (user)?.lastName }}</h4>
          <ul>
            <li>Email:
              <span>{{ (user)?.email }}</span>
            </li>
            <li *ngIf="user != null && user.telephone != null">Telephone:
              <span>0{{ (user)?.telephone }}</span>
            </li>
          </ul>
        </div>
        <button (click)="showMessageModal()" class="align-self-start">Send message</button>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div *ngFor="let m of messages">
            <p>Sender: {{m._senderId}}</p>
            <p>Reciever: {{m._recieverId}}</p>
            <h5>{{ m.title }}</h5>
            <p>{{ m.content }}</p>
            <small>{{ m.dateYear }}-{{m.dateMonth}}-{{m.dateDay}} {{m.dateHour}}:{{m.dateMinute}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<main>
  <router-outlet>
  </router-outlet>
</main>
