@import '~assets/scss/variables.scss';

section{
    background-image: url('../../../assets/img/background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 60px 0;
    color: $neutral-gray-light;
    margin-bottom: 30px;
    .container{
        .row{
            .profile-picture{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .profile-info{
                ul{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    margin-left: 15px;
                    margin-bottom: 15px;
                    li{
                        color: $neutral-gray-light-middle;
                        span{
                            font-weight: 500;
                            color: $secondary;
                        }
                    }
                }
                button{
                    background-color: $secondary;
                    border-radius: 2px;
                    box-sizing: border-box;
                    padding: 3px 15px;
                    color: $primary-dark;
                    font-weight: 500;
                }
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: space-between;
            }
        }
    }
}
