/* You can add global styles to this file, and also import other style files */
@import '~assets/scss/variables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    background-color: $neutral-gray-light;
}

body, html{
    height: 100%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header{
    position: relative;
    z-index: 2;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: #333;
}

a:focus{
    outline: 0 none !important;
}

button{
    background-color: initial;
    border: none;
    cursor: pointer;
}

button:active, button:focus{
    outline: inherit !important;
    box-shadow: none !important;
    border: none;
}

select{
    appearance: none;
    background-color: white;
}

input, textarea, select {
    box-sizing: border-box;
    padding: 7px 15px;
    box-shadow: none !important;
    outline: inherit !important;
    border: solid 1px #eee;
    border-radius: 2px;
}

input::placeholder, textarea::placeholder{
    color: #c5c5c5;
    font-size: 0.75em;
}

input:hover , textarea:hover, select:hover{
    border-color: #c5c5c5;
    outline: 0 none;
}

input.has-error,textarea.has-error,select.has-error{
    border-color: $danger;
}

input.has-success,textarea.has-success,select.has-success{
    border-color: $success;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label{
    font-weight: 700;
    color: #666;
    font-size: 0.75em;
    margin-bottom: 7px;
}

app-root{
    display: block;
    height: 100%;
}

textarea, input, button, select { outline: none !important; }

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

textarea{
    resize: none;
}

select{
    cursor: pointer;
}

//sidenav pentru performanta
.mat-drawer-backdrop {
    opacity: 0 !important;
    display: none !important;
}

md-sidenav.md-closed-add,
md-sidenav.md-closed-remove {
    -webkit-transition: all .4s cubic-bezier(0.25, .8, .25, 1) !important;
    transition: all .4s cubic-bezier(0.25, .8, .25, 1) !important;
}

// sistematice

.title-thin h4{
    font-weight: 100 !important;
    color: #666;
}

.tab-space{
    padding-right: 2em;
}