@import '~assets/scss/variables.scss';

h4 {
    margin: 0;
    > span{
        margin-right: 5px;
        color: $primary;
    }
}

.title{
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    > .container{
        height: 50px;
        display: flex;
        align-items: center;
    }
}

.card{
    margin-top: 30px;
    box-sizing: border-box;
    padding: 15px;
}

.images-upload-wrapper{
    >img{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    >div{
        display: flex;
        img{
            flex-grow: 1;
            height: auto;
            min-width: 30%;
            &:not(:last-child){
                padding-right: 15px;
            }
        }
    }
}

.info-wrapper > form{
    display: flex;
    flex-direction: column;

    .price-wrapper{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        >div{
            display: flex;
            flex-direction: column;
            >div{
                display: flex;
                flex-direction: row;
            }
            &:first-child{
                margin-right: 15px;
            }

            .price{
                border-radius: 4px 0 0 4px; 
            }
            .price-span{
                min-height: 100%;
                width: 40px;
                background-color: #f8f8f8;
                border: solid 1px #eee;
                border-left: 0;
                border-radius: 0 4px 4px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    label:not(:first-child){
        margin-top: 15px;
    }

    small.text-danger{
        margin-top: 5px;
    }
}

.buttons-wrapper{
    display: flex;
    justify-content: flex-end;
}

.quantity-wrapper{
    display: flex;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        min-height: 100%;
        background-color: #f8f8f8;
        border: solid 1px #eee;
        transition: all 100ms ease-in-out;
        user-select: none;
        &:hover{
            background-color: $secondary;
        }
        &:first-child{
            border-right: 0;
        }
        &:last-child{
            border-left: 0;
        }
    }
    input{
        margin: 0;
        border-radius: 0;
    }
    input[type='number']{
        align-self: flex-start;
        text-align: center;
    }
}

.button-save{
    height: 40px;
    padding: 3px 15px;
    border-radius: 2px;
    background-color: $secondary;
    border: solid 1px $secondary-middle;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    transition: all 100ms ease-in-out;
    &:hover{
        background-color: $secondary;
        border-color: $secondary-dark;
    }
    >fa{
        margin-right: 15px;
    }
}

textarea{
    height: 150px;
}